resources/private/scenario-templates/high-heart-rate.json
[
  {
    "id": "b5dba7a6e150591b",
    "type": "comment",
    "name": "High Sleeping Heart Rate",
    "info": "",
    "x": 130,
    "y": 80,
    "wires": []
  },
  {
    "id": "fd8543649445a8d9",
    "type": "inject",
    "name": "00:00 - 07:00",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "*/1 0-6 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 160,
    "wires": [
      [
        "e5d562b427c6f2d0"
      ]
    ]
  },
  {
    "id": "05733394cb83ee6a",
    "type": "inject",
    "name": "23:00 - 00:00",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "*/1 23 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 240,
    "wires": [
      [
        "e5d562b427c6f2d0"
      ]
    ]
  },
  {
    "id": "e5d562b427c6f2d0",
    "type": "function",
    "name": "SQL Query Handler",
    "func": "const currentTimestamp =  new Date();\n\nconst currentDay = String(currentTimestamp.getDate()).padStart(2, '0');\nconst currentMonth = String(currentTimestamp.getMonth()+1).padStart(2,\"0\");\nconst currentYear = currentTimestamp.getFullYear();\n\nconst currentHours = currentTimestamp.getHours() < 10 ? '0' + currentTimestamp.getHours() : currentTimestamp.getHours();\nconst currentMinutes = currentTimestamp.getMinutes() < 10 ? '0' + currentTimestamp.getMinutes() : currentTimestamp.getMinutes();\nconst currentSeconds = currentTimestamp.getSeconds() < 10 ? '0' + currentTimestamp.getSeconds() : currentTimestamp.getSeconds();\n\nconst currentDate = `${currentYear}-${currentMonth}-${currentDay} ${currentHours}:${currentMinutes}:${currentSeconds}`;\n\nlet previousTimestamp = new Date()\n\npreviousTimestamp.setMinutes(currentTimestamp.getMinutes() - TIME_THRESHOLD)\n\nconst previousDay = String(previousTimestamp.getDate()).padStart(2, '0');\nconst previousMonth = String(previousTimestamp.getMonth() + 1).padStart(2, \"0\");\nconst previousYear = previousTimestamp.getFullYear();\n\nconst previousHours = previousTimestamp.getHours() < 10 ? '0' + previousTimestamp.getHours() : previousTimestamp.getHours();\nconst previousMinutes = previousTimestamp.getMinutes() < 10 ? '0' + previousTimestamp.getMinutes() : previousTimestamp.getMinutes();\nconst previousSeconds = previousTimestamp.getSeconds() < 10 ? '0' + previousTimestamp.getSeconds() : previousTimestamp.getSeconds();;\n\nconst previousDate = `${previousYear}-${previousMonth}-${previousDay} ${previousHours}:${previousMinutes}:${previousSeconds}`;\n\nconst query = `SELECT heartrate, datetime\n               FROM heartrate\n               WHERE datetime > '${previousDate}'\n                 AND datetime < '${currentDate}'\n               ORDER BY datetime`\n\nmsg.topic = query;\nmsg.payload = query;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 200,
    "wires": [
      [
        "ebaafc9ae09cd962"
      ]
    ]
  },
  {
    "id": "ebaafc9ae09cd962",
    "type": "sqlite",
    "mydb": "MYDB_ID",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Home Gateway Database",
    "x": 450,
    "y": 260,
    "wires": [
      [
        "03d1b27a328ad2ef",
        "f070ae3f1df4e504"
      ]
    ]
  },
  {
    "id": "88e8dbbd884979a4",
    "type": "debug",
    "name": "Service Message",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1170,
    "y": 320,
    "wires": []
  },
  {
    "id": "03d1b27a328ad2ef",
    "type": "function",
    "name": "Query Result Handler",
    "func": "if (msg.payload.length === 0){\n    msg.payload = 'no data';\n    return msg;\n}\nlet hrData = msg.payload;\nlet startTime = null;\nlet endTime = null;\n\nmsg.payload = false;\n\nfor (const entry of hrData) {\n    const datetime = new Date(entry.datetime);\n    const heartrate = entry.heartrate;\n    if (heartrate >= HR_THRESHOLD) {\n        if (startTime === null) {\n            startTime = datetime;\n        }\n        endTime = datetime;\n    } else {\n        startTime = null;\n        endTime = null;\n    }\n    let diff = endTime - startTime;\n    if (endTime && diff >= 10 * 60 * 1000) {\n        msg.payload = true\n    }\n}\n\nmsg.topic = ''\n\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 2,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 320,
    "wires": [
      [
        "3c215c37695caba6"
      ]
    ]
  },
  {
    "id": "3c215c37695caba6",
    "type": "switch",
    "name": "Result Handler",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      },
      {
        "t": "eq",
        "v": "no data",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 720,
    "y": 320,
    "wires": [
      [
        "6b5f8297cea4fc52"
      ],
      [
        "af9a06b08d08c1ad"
      ],
      [
        "ba15a2d608e4adc0"
      ]
    ]
  },
  {
    "id": "6b5f8297cea4fc52",
    "type": "template",
    "name": "Trigger Message",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "High Heartrate Alert!!!",
    "output": "str",
    "x": 930,
    "y": 280,
    "wires": [
      [
        "88e8dbbd884979a4"
      ]
    ]
  },
  {
    "id": "af9a06b08d08c1ad",
    "type": "template",
    "name": "All Ok Message",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "HeartRate Ok (High Sleeping HeartRate Service)",
    "output": "str",
    "x": 920,
    "y": 320,
    "wires": [
      [
        "88e8dbbd884979a4"
      ]
    ]
  },
  {
    "id": "f070ae3f1df4e504",
    "type": "debug",
    "name": "Query Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 710,
    "y": 260,
    "wires": []
  },
  {
    "id": "ba15a2d608e4adc0",
    "type": "template",
    "name": "No Data Message",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "No HeartRate Data (High Sleeping HeartRate Service)",
    "output": "str",
    "x": 930,
    "y": 360,
    "wires": [
      [
        "88e8dbbd884979a4"
      ]
    ]
  }
]