resources/private/scenario-templates/high-heart-rate.json
[
  {
    "id": "35bf620f58311f78",
    "type": "inject",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 120,
    "wires": [
      [
        "3fe7d9d759fe48e6"
      ]
    ]
  },
  {
    "id": "3fe7d9d759fe48e6",
    "type": "function",
    "name": "SQL Query Handler",
    "func": "const currentTimestamp =  new Date();\n\nconst currentDay = String(currentTimestamp.getDate()).padStart(2, '0');\nconst currentMonth = String(currentTimestamp.getMonth()+1).padStart(2,\"0\");\nconst currentYear = currentTimestamp.getFullYear();\n\nconst currentHours = currentTimestamp.getHours() < 10 ? '0' + currentTimestamp.getHours() : currentTimestamp.getHours();\nconst currentMinutes = currentTimestamp.getMinutes() < 10 ? '0' + currentTimestamp.getMinutes() : currentTimestamp.getMinutes();\nconst currentSeconds = currentTimestamp.getSeconds() < 10 ? '0' + currentTimestamp.getSeconds() : currentTimestamp.getSeconds();\n\nconst currentDate = `${currentYear}-${currentMonth}-${currentDay} ${currentHours}:${currentMinutes}:${currentSeconds}`;\n\nlet previousTimestamp = new Date()\nconst timeThreshold = TIME_THRESHOLD + 1;\n\npreviousTimestamp.setMinutes(currentTimestamp.getMinutes() - timeThreshold)\n\nconst previousDay = String(previousTimestamp.getDate()).padStart(2, '0');\nconst previousMonth = String(previousTimestamp.getMonth() + 1).padStart(2, \"0\");\nconst previousYear = previousTimestamp.getFullYear();\n\nconst previousHours = previousTimestamp.getHours() < 10 ? '0' + previousTimestamp.getHours() : previousTimestamp.getHours();\nconst previousMinutes = previousTimestamp.getMinutes() < 10 ? '0' + previousTimestamp.getMinutes() : previousTimestamp.getMinutes();\nconst previousSeconds = previousTimestamp.getSeconds() < 10 ? '0' + previousTimestamp.getSeconds() : previousTimestamp.getSeconds();;\n\nconst previousDate = `${previousYear}-${previousMonth}-${previousDay} ${previousHours}:${previousMinutes}:${previousSeconds}`;\n\nconst query = `SELECT heartrate, datetime\n               FROM heartrate\n               WHERE datetime > '${previousDate}'\n                 AND datetime < '${currentDate}'\n               ORDER BY datetime`\n\nmsg.topic = query;\nmsg.payload = query;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 1,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 290,
    "y": 120,
    "wires": [
      [
        "7c52f35394c01177"
      ]
    ]
  },
  {
    "id": "7c52f35394c01177",
    "type": "sqlite",
    "mydb": "MYDB_ID",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Home Gateway Database",
    "x": 350,
    "y": 180,
    "wires": [
      [
        "693b628394170d51",
        "d7419c20fd9624ef"
      ]
    ]
  },
  {
    "id": "693b628394170d51",
    "type": "function",
    "name": "Query Result Handler",
    "func": "if (msg.payload.length === 0){\n    msg.payload = 'no data';\n    return msg;\n}\nlet hrData = msg.payload;\nlet startTime = null;\nlet endTime = null;\n\nmsg.payload = false;\nconst hrThreshold = HR_THRESHOLD\nconst timeThreshold = TIME_THRESHOLD\n\nfor (const entry of hrData) {\n    const datetime = new Date(entry.datetime);\n    const heartrate = entry.heartrate;\n    if (heartrate >= hrThreshold) {\n        if (startTime === null) {\n            startTime = datetime;\n        }\n        endTime = datetime;\n    } else {\n        startTime = null;\n        endTime = null;\n        msg.reset = ''\n    }\n    let diff = endTime - startTime;\n    if (endTime && diff >= timeThreshold * 60 * 1000) {\n        msg.payload = true\n    }\n}\n\nmsg.topic = ''\n\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 4,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 240,
    "wires": [
      [
        "1806fcf02943da22"
      ]
    ]
  },
  {
    "id": "1806fcf02943da22",
    "type": "switch",
    "name": "Result Handler",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 560,
    "y": 300,
    "wires": [
      [
        "304208891e2dc0ca"
      ],
      [
        "304208891e2dc0ca",
        "2a28f0cdb6224bb1"
      ]
    ]
  },
  {
    "id": "1acf66a5bf3d76a4",
    "type": "template",
    "name": "Trigger Message",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "High Heartrate Alert",
    "output": "str",
    "x": 950,
    "y": 280,
    "wires": [
      [
        "5169a7c553bf134d",
        "49315875d8d5f88b"
      ]
    ]
  },
  {
    "id": "d7419c20fd9624ef",
    "type": "debug",
    "name": "Query Result",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 530,
    "y": 120,
    "wires": []
  },
  {
    "id": "3e90517cee3ce4d0",
    "type": "inject",
    "name": "Table Creation",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "CREATE TABLE heartrate (id integer PRIMARY KEY AUTOINCREMENT,    heartrate VARCHAR(255) NULL,    datetime VARCHAR(255) NULL)",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 180,
    "wires": [
      [
        "7c52f35394c01177"
      ]
    ]
  },
  {
    "id": "6372d693d273b56a",
    "type": "comment",
    "name": "High Sleeping Heart Rate",
    "info": "",
    "x": 130,
    "y": 60,
    "wires": []
  },
  {
    "id": "2a28f0cdb6224bb1",
    "type": "template",
    "name": "All Ok Message",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "HeartRate Ok (High Sleeping HeartRate Service)",
    "output": "str",
    "x": 740,
    "y": 340,
    "wires": [
      [
        "5169a7c553bf134d"
      ]
    ]
  },
  {
    "id": "5169a7c553bf134d",
    "type": "debug",
    "name": "Service Message",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 970,
    "y": 340,
    "wires": []
  },
  {
    "id": "49315875d8d5f88b",
    "type": "http request",
    "name": "Rhasspy TTS",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://10.245.14.2:12101/api/text-to-speech",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 960,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "304208891e2dc0ca",
    "type": "trigger",
    "name": "",
    "op1": "",
    "op2": "0",
    "op1type": "pay",
    "op2type": "str",
    "duration": "0",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 740,
    "y": 280,
    "wires": [
      [
        "1acf66a5bf3d76a4"
      ]
    ]
  }
]